# Laravel
/vendor
/node_modules
.env

/public/storage
/public/build
/public/js
/public/css

# Public
/public/bower_components
/public/fonts

# Idea
/.idea

# IDE-Helper
_ide_helper.php
.phpstorm.meta.php
