$colors: "#FF8181 #3A3C83 #6367FF",
"#00B1AA #E6EEFF #95D1DE",
"#E6EEFF #6B53CB #432D9B",
"#42449D #FCF8EC #E1C77A",
"#000 #FFF #CCC",
"#00FF00 #191919 #5a9c5a";
@for $i from 1 through length($colors) {
    $list: str-explode(nth($colors, $i), ' ');

    $color-1  : unquote(nth($list, 1));
    $color-2  : unquote(nth($list, 2));
    $color-3  : unquote(nth($list, 3));

    body.alt-#{$i} {
        background-color: $color-2;
        color: $color-1;

        ::selection {
            background-color: $color-1;
            color: $color-2;
        }

        .navbar-brand span.alt {
            color: $color-3;
        }

        footer.footer hr {
            border-color: $color-3;
        }

        @media (max-width: $screen-xs-max) {
            .navbar-collapse {
                box-shadow: inset 0 1px 0 $color-3;
            }
        }

        .navbar-toggle, .navbar-toggle:focus {
            border-color: $color-1;
            background-color: $color-2;

            .icon-bar {
                background-color: $color-1;
            }

            &:hover {
                background-color: $color-1;

                .icon-bar {
                    background-color: $color-2;
                }
            }
        }
    }
}

body {
    a, a:hover, a:focus {
        color: inherit;
    }
}
