@font-face {
    font-family: 'TiemposHeadlineWeb';
    src: url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-Black.eot'); /* IE9 Compat Modes */
    src: url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-Black.woff') format('woff'), /* Modern Browsers */
    url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-Black.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-Black.svg#a5b5f595310f1955c7cc3fbd4474407c') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'TiemposHeadlineWeb';
    src: url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-BlackItalic.eot'); /* IE9 Compat Modes */
    src: url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-BlackItalic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-BlackItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-BlackItalic.svg#a5b5f595310f1955c7cc3fbd4474407c') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: 'TiemposHeadlineWeb';
    src: url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-Bold.eot'); /* IE9 Compat Modes */
    src: url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-Bold.woff') format('woff'), /* Modern Browsers */
    url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-Bold.svg#a5b5f595310f1955c7cc3fbd4474407c') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'TiemposHeadlineWeb';
    src: url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-BoldItalic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-BoldItalic.svg#a5b5f595310f1955c7cc3fbd4474407c') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'TiemposHeadlineWeb';
    src: url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-Medium.eot'); /* IE9 Compat Modes */
    src: url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-Medium.woff') format('woff'), /* Modern Browsers */
    url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-Medium.svg#a5b5f595310f1955c7cc3fbd4474407c') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'TiemposHeadlineWeb';
    src: url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-MediumItalic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/TiemposHeadlineWeb/TiemposHeadlineWeb-MediumItalic.svg#a5b5f595310f1955c7cc3fbd4474407c') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 500;
}

